<div *ngIf="state === 'Personal'" class="section-container">
    <p>Name: {{ selectedItem.name }}</p>
    <p>LastName: {{ selectedItem.lastName }}</p>
    <p>Type: {{ selectedItem.type }}</p>
    <div *ngIf="selectedItem.type === 'student'">
        <p>Promedio: {{ calculateAverage() }}</p>
    </div>
    <div *ngIf="selectedItem.type === 'professor'">
        <p>Subject: {{ selectedItem.subject }}</p>
    </div>
</div>

<div *ngIf="state === 'Geográfico'" class="section-container">
    <p>Address: {{ selectedItem.address.number }} {{ selectedItem.address.street }}, {{ selectedItem.address.zone }}</p>
    <p>Contry: {{ selectedItem.country }}</p>
    <p>Province: {{ selectedItem.province }}</p>
</div>

<div *ngIf="state === 'Mensaje'" class="section-container">
    <div class="search-container">
        <search (searchChanged)="onSearch($event)"></search>
    </div>
    <div *ngFor="let message of filteredMessages" class="item-container">
        <item [data]="selectedItem" [message]="message"></item>
    </div>
</div>