@if(message !== ''){
    <div class="message">
        <p>{{ message }}</p>
    </div>
}
@else if(data.type === 'student'){
    <div class="student">
        <p>{{ data.name }} {{ data.lastName }} - {{ data.type }}</p>
        <button (click)="onShow()"> SHOW </button>
        <button (click)="onDelete()"> DELETE </button>
    </div>
    
}@else if (data.type === 'professor'){
    <div class="professor">
        <p>{{ data.name }} {{ data.lastName }} - {{ data.type }}</p>
        <button (click)="onShow()"> SHOW </button>
        <button (click)="onDelete()" > DELETE </button>
    </div>
}