<div class="container">
  <div *ngFor="let network of socialNetworks" class="item">
    <button (click)="addNewAction(network.platform, network.type)">
      add new {{ network.type }}
    </button>
    <div class="box" [ngClass]="network.platform">
      {{ network.platform }}
      <span *ngIf="network.platformType === 'premium'" class="star">⭐</span>
    </div>
  </div>
</div>

<div class="card-container">
  <div *ngFor="let user of dataArray" class="item-user">
    <card-user [user]="user"></card-user>
  </div>
</div>

