<!-- <h1>Hello, {{ 2 + title }}</h1>
<p>Add {{ sum(2,title) }}</p>
<p>Subtract {{subtract}}</p>
<p>Only even {{getArray()}}</p>

<button (click) = "userCardCreated = !userCardCreated">Create and Destroy user card</button>

<button (click) = "selectedUser = users[0]">Change to user 0</button>
<button (click) = "selectedUser = users[1]">Change to user 1</button> -->

<p>PIPES</p>

<P> {{ users | json }} </P>
<p> {{ 'juan' | uppercase }} </p>
<p> {{ 'JUAN' | lowercase }} </p>
<p> {{ 'hola mundo' | titlecase }}</p>
<p> {{ 'Tue Oct 27 15:35:08 CDT 2009' | date: 'dd/MM/YYYY'  }} </p>

<p> MY FISRT PIPE PURE </p>
<p>{{ students | pure }}</p>
<p> MY FIRST PIPE IMPURE</p>
<p>{{ students | impure }}</p>

<button (click)="students.push(12)">add neew number</button>
<button (click)="addNumber()">add neew number in ts</button>

<!-- <user-card
  [name]="selectedUser.name"
  [email]="selectedUser.email"
  (sendData)="receiveData($event)"
>
  <p>My HTML from father</p>
  <button>My button from father</button>
</user-card>

<button (click)="addVideo()">ADD new Video to Youtube</button>
<div
  [ngColors]="'green'"
  [defaultColor]="'pink'"
  (colorChange)="getColor($event)"
  (colorDoubleCheck)="getColor($event)"
  style="border: 1px solid orange"
>
  My Costumers Div
</div>

<button (click) = "userCardCreated= !userCardCreated">Change userCardCreated</button>

<div *ngCreateHtml = "userCardCreated" (sendMessage)="getColor($event)">
    <p>My Custom Structural Directive</p>
    <p>Example</p>
</div> -->

<!-- <p> RESULT: {{result}}</p>
<div class="container">
    <calculator class="calculator" (sum)="onResult($event)" (mul)="onResult($event)" (reset)="onReset($event)"></calculator>
    <history class="history" [history]="history"></history>
</div>
<p *ngIf="var1 === var2; else elseold">Variables are equeals</p>
<ng-template #elseold>
    <p>old result is false</p>
</ng-template>


@if( var1 === var2){  
    <p>new Syntax, variables are equeals</p>
}
@else{
    <p>new syntax result is false</p>
}

<p *ngFor="let item of ['a','b','c','d','e','f','g']; let i = index">
    old for, value: {{item}}, index: {{i}}
</p>

@for (item of ['a','b','c','d','e','f','g','h']; track $index) {
    <p>new for, {{item}}, index{{$index}}</p>
}

<div [ngSwitch]="var1">
    <p *ngSwitchCase="0"> Var is 0</p>
    <p *ngSwitchCase="1"> Var is 1</p>
    <p *ngDefault> Default Value</p>
</div>

@switch(var1){
    @case(0){<p>new syntax, var is 0</p>}
    @case(1){<p>new syntax, var is 1</p>}
    @default{<p>new syntax, default value</p>}
}

<div class="wrapper">
    <div class="container-persons">
        @for (item of persons; track $index) {
            <person-card [person]="item"></person-card>
        }
    </div>

    <div class="container-persons-data">
        <p class="styled-text">total persons female = {{countFemale()}}</p>
        <p class="styled-text">total persons male = {{countMale()}}</p>
        <p class="styled-text">discount = {{countDiscount()}}</p>
        <button (click)="deleteDiscount()" class="styled-button">Borrar personas con descuento</button>
    </div>
</div>

<counter></counter>

<button (click) = "var1=var1+1">Incremente Var 1</button>
<p>{{var1}}</p> -->
