.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    .calculator {
        padding: 32px;
        flex: 1; 
        max-width: 50%;
    }
    
    .history {
        padding: 32px;
        flex: 1;  
        max-width: 50%;
    }
}
.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}
.container-persons,
.container-persons-data {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.styled-text {
    background-color: #FEE4B2;
    border: 1px solid #F5BA6E;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    margin: 20px;
}

.styled-button {
    background-color: #FEE4B2;
    border: 1px solid #F5BA6E;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    width: fit-content;
}
.styled-button:hover {
    background-color: #F5BA6E;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }