.main-container {
  display: flex;
}

.list-component {
  margin-right: 10px;
}

.card-container {
  display: inline-block;
}

.button-container {
  margin-bottom: 10px;
}

.button-container button {
  margin-right: 10px;
}